<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>下载抖音无水印视频</title>
    <style type="text/css">
        .center{
            position: absolute;
            top:50%;
            left:50%;
            width:100%;
            transform:translate(-50%,-50%);
            text-align: center;
         }
    </style>
</head>
<body>
    <div class="center">
        <form action="/" method="post">
            <h2>下载抖音无水印视频</h2>
            <input type="text" id="douyinurl" name="douyinurl" placeholder="输入抖音视频链接或者口令">
            <button type="submit" id="downloadSubmit">下载视频</button>
        </form>
    </div>
</body>
</html>